
.inter-normal> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* shared styles */
.bg-color{
    background-color: rgb(220, 234, 255);
}
.bg-image{
    background-image: url(../Assets/Hero-bg.png);
}
.btn-primary{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}
.btn-primary:hover{
    background-color: yellowgreen;
    color: black;
}
/* nav-styles */
nav h3{
    color: rgba(78, 71, 255, 1);
    font-size: 34px;
    font-weight: 900;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}
.space{
    text-align: center;
    padding: 70px 267px 152px;
    
}
div h6{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}

/* banner styles */
.banner-container{
    display: flex;
    justify-content: space-between;
}
.banner-text{
    margin: 178px 141px;
}
.banner-title{
    font-size: 42px;
    font-weight: bolder;
    margin-bottom: 24px;
}
.banner-description{
    align-items: center;
    font-size: 24px;
    font-weight: 100;
}
.banner-img{
    margin: 116px 141px;
    border-radius: 48px;
}

/* user section styles */
.product-user{
    background-color: #d5d4f2;
    margin: 116px 159px 137px 141px;
    border-radius: 24px;
    justify-content: center;
}
.user-section{
    padding: 50px 142px 40px;
}
.user-section-head{
    font-size: 38px;
    font-weight: bolder;
    text-align: center;
    
    
}
.info-head{
    font-size: 80px;
    margin-bottom: 0;
    color: #4E47FF;
}   
.info-container{
    margin:40px 142px 50px;
}   

.info-section{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-bottom: 50px;
    margin-top: 0;
    text-align: center;
}
/* review styles */
.reviews-title{
    font-size: 42px;
    font-weight: bolder;
    text-align: center;
}
.reviews-container{
    display: flex;
    margin: 50px 151px;
    gap: 24px;
}
.ratings{
    padding:30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 14px;
}
.ratings:hover{
    background-color: purple;
    color: white;
}
.rating-description{
    align-items: center;
}
.reviewer-pic{
    border-radius: 50%;
}
.reviewer-name{
    display: flex;
}
/* download styles */
.download-container{
    padding: 71px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); 
    margin: 137px 151px 92px;
    border-radius: 14px;
}
.download-text{
    text-align: center;
}
.download-title{
    font-size: 50px;
    font-weight: bolder;
    margin: 20px;
}
.download-pic{
     border-radius: 48px ;
     margin: 20px 150px 71px;
    
}
/* details styles */
.details-container{
    display: flex;
    padding: 0px 200px 14px 100px;
    gap: 115px;
    justify-content: center;
}
.details-title{
    font-size: 97px;
    padding: 200px 0;
    
}
.details-info{
    padding: 200px 0px;
}
form input[type="email"], form input[type="name"],  form textarea{
    height: 30px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.129) ;
}
/* footer styles */
.footer-container{
    text-align: center;
    padding: 0px 455px 147px;
}
.footer-title{
    font-size: 100px;
    font-weight: bolder;
    color: #4E47FF;
    margin-bottom: 8px;
}
.footer-links{
    display: flex;
    gap: 48px;
    justify-content: center;
}
footer div a{
    text-decoration: none;
    justify-content: space-around;
    color: #8987A1;
}